.wrapper {
	margin: 0 auto;
	width: 1050px;
}

.header {
	margin-top: 27px;
	height: 128px;
	position: relative;
}

.clear:after {
	content: '';
	display: block;
	clear: both;
}

.column{
	background-color: gray;
	display: inline-block;
	height:90px;
	color: white;
	padding: 10px;
	top: 19px;
	margin-right: 18px;
}

.column-1{
	width: 104px;
}

.column-2{
	width: 260px;
}

.column-3{
	width: 489px;
	left: 452px;
}

hr{
	margin-top:15px;
	width: 950px;	
}
.content {
	width: 1050px;
	margin: 23px auto 0;
}

.left-block{
	float: left;
}

.left-blok-top{
	background-color:gray;
	width: 175px;
	height: 316px;
	padding: 20px 0 0 10px;
	color:white;
	line-height:22px;
	font-size:15px;
	font-family: Arial;
}


.left-block-bottom{
	margin-top: 100px;
	background-color:gray;
	width: 183px;
	height: 132px;
}

.right-block{
	width: 80%;
    float: right;
}

.right-block-top{
	background-color:#bbb8b8;
	height: 189px;
	padding: 20px 0 0 10px;
	font-size:15px;
	font-family: Arial;
}

.flex-container{
	display: block;
	flex-wrap: wrap;
	flex-direction: row;
    margin-top:10px;
}

.flex-container > div {
	background-color: #f1f1f1;
    width: 90px;
	float: left;
    height: 109px;
	margin: 10px 15px 0 0;
    padding: 20px;
    font-size: 30px;
 }
  
.right-block-bottom{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.right-block-bottom > div {
	background-color: #f1f1f1;
    width: 328px;
    height: 163px;
    margin: 10px 15px 0 0;
    padding: 20px;
    font-size: 30px;
}

.footer-left{
	display: flex;
	flex-wrap: wrap;
    flex-direction: row;
    float: left;
    
}

.footer-left > div {
    background-color: #f1f1f1;
    width: 259px;
    height: 139px;
	margin: 24px 26px 26px 0px;
	padding: 20px;
    font-size: 30px;
}

.footer-right{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 234px;
    float: right;
}

.footer-right > div{
    background-color: #f1f1f1;
    width: 309px;
    height: 76px;
	margin: 1px 27px 27px 0;
	font-size: 30px;
}
  
.line1 {
	border-top: 1px solid black;
	width: 958px;
}

.line2 {
    border-top: 1px solid black;
    width: 958px;
    margin-top: 800px;
}